@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
body {
  background: white;
  font-family: "Press Start 2P", cursive;
}

.playArea {
  border: 5px solid purple;
  border-radius: 10px;
  width: 585px;
  height: 440px;
  position: fixed;
  top: 43.2%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f2f2f2;
}

#react {
  display: none;
}

.gameOver {
  position: fixed;
  top: 43.2%;
  left: 50%;
  font-family: "Press Start 2P", cursive;
  transform: translate(-50%, -50%);
  color: red;
  font-size: 35px;
}

.playButton {
  position: fixed;
  top: 82%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background: #502c7b;
  border: 2px solid white;
  padding: 10px;
  font-size: 0.9em;
  box-shadow: 4px 4px 0px 0px purple;
  font-family: "Press Start 2P", cursive;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.scoreBox {
  float: right;
  border: 5px solid purple;
  border-radius: 10px;
  margin: 30px;
  margin-top: 50px;
  font-family: "Press Start 2P", cursive;
}

h2 {
  font-size: 18px;
  padding: 10px;
}
